.countdown {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color: palegoldenrod;
    padding: 25px;
    font-size: 1.8rem;
    border-radius: 25px;
}